MINIMAX_API_KEY=api_key_here
MINIMAX_API_URL_LYRICS=https://api.minimax.io/v1/lyrics_generation
MINIMAX_API_URL_MUSIC=https://api.minimax.io/v1/music_generation
MINIMAX_API_URL_IMAGE=https://api.minimax.io/v1/image_generation
MINIMAX_API_URL_TTS=https://api.minimax.io/v1/t2a_v2
APP_USERNAME=admin
APP_PASSWORD=admin@)@^2026